<h4>予約情報の確認</h4>

<tr>
    <td>カフェ名</td>
</tr>
<%= form_with model: @resevation, url: public_resevations_confirm_path, local: true do |f| %>
<tr>
    <td>ご予約日時</td>
    <td><%= @resevation.time %></td>
</tr>

<tr>
    <td>お支払方法</td>
    <td><%= @resevation.payment_method %></td>
</tr>

<div> 
<%= f.submit "修正する" ,public_resevations_new_path %>
</div>

<div>
    <%= f.submit "予約を確定する" %>
</div>
 
<% end %>