<h4>予約情報の確認</h4>

<tr>
    <td>カフェ名</td>
</tr>
<%= form_with model: @resevation, url: public_resevations_confirm_path, local: true do |f| %>
<tr>
    <td>ご予約年月日</td>
    <td><%= @resevation.coming_date %></td>
</tr>
<tr>
    <td>ご予約日時</td>
    <td><%= @resevation.time %></td>
</tr>

<tr>
    <td>お支払方法</td>
    <td><%= @resevation.payment_method %></td>
</tr>

<div> 
<%= link_to "修正する" ,public_resevations_new_path ,class: 'btn btn-sm btn-dark' %>
</div>

<div>
    <%= link_to "予約を確定する" ,public_resevations_thanks_path,class: 'btn btn-sm btn-dark'%>
</div>
 
<% end %>