<div class="container">
  <div class="row-8 my-3">
    <div class="col-lg-4 text-right">

<h4 class="bg-light text-dark text-center"><strong>予約情報の確認</strong></h4>
</div>
<div class="row">
    <div class="col-sm-3 px-sm-0 offset-sm-1">
<tr>
    <td>カフェ名</td>
    <td><%= @resevation.cafe.name%></td>
</tr>
</div>
</div>
<div class="row">
    <div class="col-sm-3 px-sm-0 offset-sm-1">
<tr>
    <td>ご予約年月日</td>
    <td><%= @resevation.coming_date %></td>
</tr>
</div>
</div>
<div class="row">
    <div class="col-sm-3 px-sm-0 offset-sm-1">
<tr>
    <td>ご予約日時</td>
    <td><%= @resevation.start_time.strftime("%H:%M") %></td>
</tr>
</div>
</div>
<div class="row">
    <div class="col-sm-3 px-sm-0 offset-sm-1">
<tr>
    <td>お支払方法</td>
    <td><%= @resevation.payment_method %></td>
</tr>
</div>
</div>
<div>
<%= link_to "修正する" ,public_resevations_new_path ,class: 'btn btn-sm btn-dark' %>
</div>
<div>
<%= link_to "予約を確定する" ,public_resevations_thanks_path,class: 'btn btn-sm btn-dark'%>
    </div>
</div>
 </div>
</div>
