<h2>予約情報入力</h2>


<%= form_with model: @resevation, url: public_resevation_confirm_path, local: true do |f| %>

<tr>
    <td>メニュー名</td>
</tr>

<p>内容</p>

<tr>
    <td><%= f.label "人数" %></td>
    <td><%= f.text_field :people %>名</td>
</tr>

<tr>
    <div>お支払方法" %></div>
    <td><%= f.radio_button :payment_method, :"クレジットカード", checked: true %></td>
    <td> <%= f.label :"クレジットカード" %></td>  


　　<td><%= f.radio_button :payment_method, :"店頭でお支払い" %></td>
    <td><%= f.label :"店頭でお支払い" %></td>
</tr>

<tr>
    <div>ご来店日時</div>
    <td><%= f.label "年月日" %></td>
    <td><%= f.date_select :date, {} %></td>
    
    <td><%= f.label "日時" %></td>
    <td><%= f.datetime_select :time, {} %>時</td>
</tr>

<tr>
<%= f.submit "確認する" %>
</tr>

<% end %>