<div class="container">
    <div class="row">
        <div class="col-sm-8 px-sm-0 offset-sm-1">
            <h2 class="my-5">予約一覧</h2>
        </div>
    </div>
   <div class="row">
       <div class="col-sm-10 offset-1">
           <table class="table mb-5">
               <thread>
                   <tr>
                       <th>予約ID</th>
                       <th>カフェ名</th>
                       <th>来店(予定)日</th>
                        <th>人数</th>
                       <tbody>
                           <% @reservations.each do |reservation| %>
                           <tr>
                               <td><%= reservation.id %></td>
                               <td><%= link_to cafe.name, admin_cafe_path(cafe.id) %></td>
                               <td><%= reservation.reservation_coming_date %></td>
                               <td><%= reservation.people %> 名</td>
                           </tr>
                           <% end %>
                       </tbody>
                   </tr>
               </thread>
           </table>
           <%= paginate @reservations %>
       </div>
   </div>
    </div>
</div>

