<div class="content public-resevations-new">
 <div class="container">
     <div class="row">
    <div class="col-lg-4 text-center m-4">
<h4 class="text-center"><strong>予約情報入力</strong></h4>
 

     <%= form_with model: @reservation, url: public_reservations_confirm_path, method: :get, local: true do |f| %>
     <teble class="table">
         <tbody>
      <div class="p-3">
    <tr>
    <td><%= f.label :"カフェ名" %></td>
    <td><%= f.collection_select :cafe_id, Cafe.all, :id, :name %></td>
</tr>
</div>
<div class="p-3">
<tr>
    <td><%= f.label:"人数" %></td>
    <td><%= f.text_field :people, size: "2×2"%>名</td>
</tr>
 </div>

<tr> 
    <div class= "pay m-2">お支払方法</div>
    <td><%= f.radio_button :payment_method, :"クレジットカード", checked: true %></td>
    <td> <%= f.label :"クレジットカード" %></td>  <br>
  <tr>
    
    <tr>
　　<td><%= f.radio_button :payment_method, :"店頭でお支払い"%></td>
    <td><%= f.label :"店頭でお支払い" %></td>
</tr>

<tr>
    <div class="p-3">ご来店日</div>
    <td><%= f.label "年月日" %></td>
    <td><%= f.date_select :coming_date,{} %></td>
</tr>

<tr>
    <div class="p-3">ご予約日時</div>
    <td><%= f.label "日時" %></td>
    <td><%= f.time_select :start_time, start_hour: 11, end_hour: 17 %>(11時〜17時)</td>
</tr>
</tbody>
</teble>
<div class="col-sm-4 px-sm-1 p-3">
<%= f.submit "確認する", class: 'btn btn-outline-danger'%>
</div>
<% end %>
 </div>
 </div>
 </div>
 </div>