<!DOCTYPE html>
<html>
  <head>
    <title>Capemu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <script src="https://kit.fontawesome.com/46b2ac4b25.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header class="border" style="background-color:##f5f2e;">
      <div class="container-fould">
       <nav class="navbar navbar-expand-lg" >
        <div class="navbar-brand">
            <%= link_to public_root_path do %>
          <h1><%= image_tag('Capemu.png')%></h1>
           <% end %>
        </div>
        
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        
  <% if customer_signed_in? %>
  <ul class="ml-auto d-flex">
    <li class="nav-link text-light">
    <%= link_to "マイページ", public_customers_mypage_path, class: "btn btn-outline-dark" %>
    </li>

    <li class="nav-link text-light">
    <%= link_to "カフェ一覧", public_cafes_path, class: "btn btn-outline-dark" %>
    </li>

    <li class="nav-link text-light ">
    <%= link_to "予約", public_resevations_new_path, class: "btn btn-outline-dark" %>
    </li>

    <li class="nav-link text-light ">
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-dark" %>
    </li>
  </ul>
  
   <% elsif admin_signed_in? %>
  <ul class="ml-auto d-flex">
    <li class="nav-link text-light ">
    <%= link_to "店舗トップ",admin_cafes_path, class: "btn btn-outline-dark" %>
    </li>
     <li class="nav-link text-light ">
    <%= link_to "カフェ新規登録",new_admin_cafe_path, class: "btn btn-outline-dark" %>
    </li>
    
    <li class="nav-link text-light ">
    <%= link_to "店舗ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark" %>
    </li>

    <li class="nav-link text-light ">
    <%= link_to "会員ログイン",new_customer_session_path, class: "btn btn-outline-dark" %>
    </li>
  </ul>
  <% else %>
  
  <ul class="ml-auto d-flex">
    <li class="nav-link text-light ">
    <%= link_to "About", public_about_path, class: "btn btn-outline-dark" %>
    </li>

    <li class="nav-link text-light ">
    <%= link_to "カフェ一覧", public_cafes_path, class: "btn btn-outline-dark" %>
    </li>

    <li class="nav-link text-light ">
    <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-dark" %>
    </li>

    <li class="nav-link text-light ">
    <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-dark" %>
    </li>
   </ul>
  <% end %>
  </ul>
  </div>
      </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
